Unity/Library/
Unity/Temp/
Unity/UserSettings/
Unity/Logs/
Unity/Build/
Unity/Packages/
Unity/ProjectSettings/
Unity/Library
Unity/Temp
Unity/UserSettings
Unity/Logs
Unity/Build
Unity/Packages
Unity/ProjectSettings
